<h1>Show Page</h1>
<h2><%=@coupon%></h2>
<ul>
<<<<<<< HEAD
  <h1>Coupon Code: <%=@coupon.coupon_code%></h1><br>
  <h1>Store: <%=@coupon.store%></h1>
=======
  <l1>Coupon Code: <%=@coupon.coupon_code%></li><br>
  <l1>Store: <%=@coupon.store%></li>
>>>>>>> e780b033fdcace7f8a2ce36d7f15476e6ca41d00
</ul>
